<!DOCTYPE html>
<html lang='es'>
<head>
<meta charset="UTF-8">
<title>Julieta Villena</title>
</head>
<body>
<header>
<h1>PROGRAMACIÓN VISUAL</h1>
<nav>
	<a href="">Introducción</a>
	<a href="">Variables Miembro</a>
	<a href="">Mavean</a>
</nav>
</header>
<main>
<section>
	<h2>Introducción</h2>
	<p>JAVA es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</p>
	<h3>Plataforma Java</h3>
	<p>es una plataforma software que se ejecuta sobre las prestaciones que brinda otra plataforma que gestiona el hardware denominada plataforma base.</p>
</section>

<section>
	<h2>Variables Miembro</h2>
	<p>En Java es posible definir variables fuera del ámbito de un método. A estas variables se las denomina como variables miembro. La caracteristica principal de este tipo de variables es que son variables globales dentro de una clase. Por lo tanto pueden ser utilizadas por los métodos de esta clase.</p> 
	<h3>Modificadores de Acceso</h3>
	<p>Los modificadores de acceso determinan desde que clases se puede acceder a un determinado elemento, como una variable miembro o un método.</p>
	<p>Existen 4 tipos:</p>
		<ul>
		<li>Nivel de acceso por defecto</li>
		<li>Nivel de acceso public</li>
		<li>Nivel de acceso private</li>
		<li>Nivel de acceso protected</li>
		</ul>
</section>

<section>
	<h2>Maven</h2>
	<h3>¿Qué es Maven?</h3>
	<p>Maven es una herramienta de software para la gestión y construcción de proyectos Java. Fue creada por Jason van Zyl, de Sonatype, en 2002</p>
</section>

<table></table>

<aside>
<a href="">link</a>
<img alt="" src="">
</aside>
</main>
<footer>
pie de pagina
</footer>
</body>
</html>