<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>TP3-Julieta Villena</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body">
<header>
	<h1 class="h1">PROGRAMACIÓN VISUAL</h1>
	<nav class="nav">
		<ol>
			<li><a class="a" href="#section1">Introducción</a></li>
			<li><a class="a" href="#section2">Variables Miembro</a></li>
			<li><a class="a" href="#section3">Maven</a></li>
		</ol>
	</nav>
	</header>
<div class="container">
<main class="main">
	
		<section class="section" id="section1">
			<h2 class="h2">Introducción</h2>
			<p class="p">JAVA es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo.</p>
			<h3 class="h3">Plataforma Java</h3>
			<p class="p">Es una plataforma software que se ejecuta sobre las prestaciones que brinda otra plataforma que gestiona el hardware denominada plataforma base.</p>
			<p class="p">Ediciones de la Plataforma Java:</p>
			<table class="table" border="1">
				<tr class="tr">
					<td class="td">EDICIONES</td>
					<td class="td">DESCRIPCIÓN</td>
				</tr>
				<tr>
					<td class="td">Java SE</td>
					<td class="td2">Conocida como Standard Edition es la edición más difundida de la plataforma Java.</td>
				</tr>
				<tr>
					<td class="td">JavaFX</td>
					<td class="td2">Originalmente JavaFX era una alternativa a Java SE para el desarrollo de proyectos de tipo RIA (Rich Internet Applications), con un núcleo más ligero y fácil de distribuir.</td>
				</tr>
				<tr>
					<td class="td">Java EE</td>
					<td class="td2">Denominada Enterprise Edition de la plataforma Java, es la versión dirigida al desarrollo de soluciones software que se ejecutarán en un servidor de aplicaciones.</td>
				</tr>
				<tr>
					<td class="td">Java ME</td>
					<td class="td2">Micro Edition, está enfocada a la creación de programas que se ejecutarán en sistemas con recursos limitados, tales como teléfonos móviles, electrodomésticos, etc.</td>
				</tr>
			</table>
			
		</section>
		
		<section class="section" id="section2">
			<h2 class="h2">Variables Miembro</h2>
			<p class="p">En Java es posible definir variables fuera del ámbito de un método. A estas variables se las denomina como variables miembro. La caracteristica principal de este tipo de variables es que son variables globales dentro de una clase. Por lo tanto pueden ser utilizadas por los métodos de esta clase.</p> 
			<h3 class="h3">Modificadores de Acceso</h3>
			<p class="p">Los modificadores de acceso determinan desde que clases se puede acceder a un determinado elemento, como una variable miembro o un método.</p>
			<p class="p">Existen 4 tipos:</p>
				<ul style="margin-left:5%;">
				<li>Nivel de acceso por defecto</li>
				<li>Nivel de acceso public</li>
				<li>Nivel de acceso private</li>
				<li>Nivel de acceso protected</li>
				</ul>
		</section>
		
		<section  class="section" id="section3">
			<h2 class="h2">Maven</h2>
			<h3 class="h3">¿Qué es Maven?</h3>
			<p class="p">Maven es una herramienta de software para la gestión y construcción de proyectos Java. Fue creada por Jason van Zyl, de Sonatype, en 2002.</p>
		</section>
</main>
</div>
<aside class="aside">
		<a class="a2" href="https://www.oracle.com/java/technologies/downloads/">Dercargar Java</a><br>
		<img class="img" src="https://cdn.icon-icons.com/icons2/2415/PNG/512/java_original_wordmark_logo_icon_146459.png" alt="logo" >
</aside>

<footer>
	<p class="p">Contacto: <a href="https://www.oracle.com/corporate/contact/">Comunicación con la página oficial de Oracle.</a></p>
</footer>
</body>
</html>